<div *ngIf="Constant.loader" class="loading">Loading&#8230;</div>
<div class="wrapper">

  <div class="fitla-header">
    <h5>FITLA 2.0</h5>
  </div>
  
  <div class="main app form" id="main">
    <div class="fitla-banner">
      
    </div>

    <div class="pitch text-center" id="register">
      <div class="container">
        <div class="pitch-intro">
          <h1 class="wow fadeInDown" data-wow-delay="0.2s">Register for a challange</h1>
        </div>
        <div class="col-md-12">
          <app-registration></app-registration>
        </div>
      </div>
    </div>
  </div>
  
</div>